<div class="footer">
	
	<div class="contact">
		<div class="contact_info_wrap">
			<h4>CONTACT</h4>
			<p>tele: 1 868 642 3402</p>
			<p>email: twectt@gmail.com</p>
	
		</div>
	
		<div class="socialmedia_wrap">
			<a href="http://www.facebook.com/twectt">F</a>
			<a href="http://www.twitter.com/twectt">T</a>
			<a href="http://www.youtube.com/trueworshippersorg">Y</a>
		</div>
	</div>

	<div class="prayer_requests_wrap">
		<h4>PRAYER REQUESTS</h4>
		<p>name</p>
		<p>email</p>
		<p>request</p>
	</div>

</div>